.footer {
  background-color: #f6f6fb;
  padding: 40px 0;

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__tools {
    max-width: 221px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  &__copy {
    width: 100%;
    display: block;
    color: #8e8e93;
  }
}